<html>
  <head>
    <title>Đăng ký thành công!</title>
  </head>
  <body>
    <h1>Xin chào {{name}},</h1>
    <p>Bạn đã đăng ký thành công trên website của chúng tôi!</p>
    <p>Để kích hoạt tài khoản của bạn, vui lòng nhấp vào liên kết sau:</p>
    <a href='https://example.com/activate/{{code}}'>Kích hoạt tài khoản</a>
    <p>Chúc bạn sử dụng website vui vẻ!</p>
    <p>Trân trọng,</p>
    <p>Đội ngũ HCMUE</p>
  </body>
</html>